<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="dual_arm_robot">
    <!-- Only for simulation -->

    <!-- target shape and phisics -->
    <xacro:include filename="$(find orbital_robot_simulation)/description/urdf/inertial_macros.xacro"/>
  <xacro:include filename="$(find orbital_robot_simulation)/description/urdf/sar_properties.xacro"/>

    <!-- target core urdf -->
    <link name="target">
      <visual>
        <geometry>
          <box size="${TARGET_X} ${TARGET_Y} ${TARGET_Z}"/>
          <!-- <mesh filename="file://$(find orbital_robot_simulation)/description/mesh/base.stl" scale="1.0 1.0 1.0"/> -->
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
        <material name="brown"/>
      </visual>
      <collision>
        <geometry>
          <box size="${TARGET_X} ${TARGET_Y} ${TARGET_Z}"/>
        </geometry>
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </collision>
      <xacro:inertial_box mass="${TARGET_MASS}" x="${1e+09}" y="${1e+09}" z="1e+09">
        <origin xyz="0 0 0" rpy="0 0 0"/>
      </xacro:inertial_box> 
    </link>

    <!-- gazebo pulgin -->    
    <!-- <plugin name='set_link_velocity_plugin' filename='libSetLinkVelocityPlugin.so'/> -->

    <gazebo reference="target">
      <material>Gazebo/Red</material>
      <mu1>0.2</mu1>
      <mu2>0.2</mu2>
      <kp>100000.0</kp>
      <kd>10.0</kd>
    </gazebo>

  <gazebo>
    <plugin name="target_truth" filename="libgazebo_ros_p3d.so" >
      <ros>
        <namespace>odm</namespace>
        <remapping>odom:=target</remapping>
      </ros>
      <frame_name>world</frame_name>
      <body_name>target</body_name>
      <update_rate>50.0</update_rate>
      <always_on>true</always_on>
    </plugin>
  </gazebo>

</robot>